body {
    margin: 0px;
    padding: 0px; 
    background-color: inherit;
    font-size: 16px; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #000;
    border-radius: 3px black;
}
a:link { 
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
a:visited { 
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
 
a:hover { 
    text-decoration: underline;
    color: #669933;
    font-weight: bold;
}
a:active { 
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
#wrapper    {
    width: 965px;
    margin: 0 auto; 
}
#content {
    background-color: #eee;
    width: 960px;
    text-align: left;
    overflow: auto;
    position: relative;
    margin: 25px 0px 25px 0px;
    border: rgb(22, 21, 21) solid 4px;
}
.clear  {
    float: none;
    clear: both;
    margin: 20px 0px 20px 0px;
}
#contact-details .header_1 {
    float: left;
    width: 350px;
    text-align: center;
    margin: 40px 0px 0px 20px;
}
 
#contact-details .header_1 img {
    border: #fff solid 4px; 
    padding: 16px;
    margin: 10px 0px 0px 0px;
}
 
#contact-details .header_2 {
    float: left;
    width: 570px;
    margin: 40px 0px 0px 10px;
}
#contact-details .header_2 a {
    font-weight: normal;
}
#contact-details  h1    {
    margin: 0px 0px 0px 20px;
    font-size: 52px;
    font-weight: bold;
}
#contact-details  h2   {
    margin: 0px 0px 0px 20px;
    font-size: 52px;
    font-weight: bold;
}
#contact-details  h3    {
    margin: 0px 0px 32px 20px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

#contact-details ul.info_1  {
    list-style: none;
    margin: 0px 0px 0px -12px;
    font-size: 18px;
}
 
#contact-details ul.info_2  {
    list-style: none;
    margin: 0px 0px 15px -12px;
    font-size: 18px;
}
h2.top  {
    margin: 0px; 
    font-size: 22px;
    font-weight: bold;
}
 
h2  {
    margin: 40px 0px 0px 0px; 
    font-size: 22px;
    font-weight: bold;
}
dl  {
    margin: 0px 50px 0px 0px;
}
  
dt  {
    font-size: 20px;
    font-weight: bold;
}
dd  {
    width: 620px; 
    height: 90px;
    margin-right: 20px;
}

dl#contact  {
    margin: 0px;
}
 
dt#contact  {
    margin: 0px;
}
 
dd#contact  {
    margin: 0px;
}
 